@import './variable.scss';

@each $name, $color in $statusColors {
  .text--#{$name} {
    color: #{$color};
  }

  .bg--#{$name} {
    background-color: #{$color};
  }
}

@each $name, $color in $textColors {
  .text--#{$name} {
    color: #{$color};
  }

  .bg--#{$name} {
    background-color: #{$color};
  }
}

@each $name, $color in $colors {
  .text--#{$name} {
    color: #{$color};
  }

  .bg--#{$name} {
    background-color: #{$color};
  }
}

@each $name, $color in $fill {
  .fill--#{$name} {
    background: #{$color};
  }
}

@each $name, $color in $gradient {
  .fill-gradient--#{$name} {
    background: #{$color};
  }
}