@import './variable.scss';

@each $name, $color in $statusColors {
  .text__#{$name} {
    color: #{$color};
  }

  .fill__#{$name} {
    background-color: #{$color};
  }
}

@each $name, $color in $textColors {
  .text__#{$name} {
    color: #{$color};
  }

  .fill__#{$name} {
    background-color: #{$color};
  }
}

@each $name, $color in $colors {
  .text__#{$name} {
    color: #{$color};
  }

  .fill__#{$name} {
    background-color: #{$color};
  }
}

@each $name, $color in $fill {
  .fill__#{$name} {
    background: #{$color};
  }
}

@each $name, $color in $gradient {
  .fill-gradient__#{$name} {
    background: #{$color};
  }
}
