$justifyFlex: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly
);

$alignFlex: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);

.flex {
  display: flex;
}

@each $diration in row, row-reverse, column, column-reverse {
  .flex-#{$diration} {
    @extend .flex;
    flex-direction: $diration;
  }
}

@each $key, $val in $justifyFlex {
  .justify-#{$key} {
    @extend .flex;
    justify-content: $val;
  }
};

@each $key, $val in $alignFlex {
  .align-#{$key} {
    @extend .flex;
    align-items: $val;
  }
  .align-self-#{$key} {
    align-self: $val;
  }
}